
p { color: green;
  font-size: 28px; }


  table, th, td {
      border: 1px solid white;
      border-collapse: collapse;
      color:white;
  }
  th, td {
      padding: 5px;
      text-align: left;
  }

  body {
      background-color: grey;
      color:white;
  }
